.preview-content{
    display: flex;
    flex-direction: column;
    size: A4;
    margin: 0;
}
.header-preview{
    width: 100%;
    height: 50%;
    background-color: #14213dde;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-overflow: ellipsis;
    gap: 5px;
    padding: 20px;
}
.name-preview{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    height: 50%;
}
.name-preview h3{
    color: white;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin:15px 0 0 0;
}
.job-preview{
    margin-left: 50px;
}
.job-preview h3{
    color: white;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #118ab2;
    margin: 0;
}
.second-header-preview{
    width: 100%;
    height: 20%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    background-color: #14213df3;
}
.shc-preview{
    display: flex;
    flex-direction: row;
    width: 45%;
    height: 45%;
}
.shcc-preview{
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 100;
}
i{
    color: white;
    font-size: 15px;
}

.subtitle-preview{
    color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 15px 0 0 35px;
    font-family: 'Roboto', sans-serif;
    color:rgb(43, 43, 43);
}
.subtitle-preview hr{
    width: 70%;
    height: 2%;
    margin: 5%;
    border-radius: 5px;
}
.experience-container-preview{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 60px;
    margin-bottom: 25px;
}
.experience-container-preview h3{
    color: rgb(43, 43, 43);
    font-family: 'Roboto', sans-serif;
}
.experience-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50%;
    font-family: 'Roboto', sans-serif;
}
